<div class="employee-details-section">
    <div class="col-sm-4">
        <div class="name">{{employee}}</div>
        <div>{{employee.designation}}</div>
        <div>{{employee.department}}</div>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td class="label">Contact : </td>
                <td>{{employee.contact}}</td>
            </tr>
            <tr>
                <td class="label">Email : </td>
                <td>{{employee.email}}</td>
            </tr>
            <tr>
                <td class="label">Address : </td>
                <td>{{employee.address}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td class="label">Joining Date: </td>
                <td>{{employee.joining_date}}</td>
            </tr>
            <tr>
                <td class="label">Account Number: </td>
                <td>{{employee.account_number}}</td>
            </tr>
            <tr>
                <td class="label">TIN :  </td>
                <td>{{employee.tax_id_number}}</td>
            </tr>
        </table>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
        