{% extends 'base/base.html' %}

{% load i18n %}

{% block content %}
    {% load extras %}
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3>Password Reset</h3>
      </div>
      <div class="panel-body">

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>Forgotten your password? </p>
        <p>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
              <div class="form-group" >
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small">{{ form.email.errors }}</span>
                            </div>

                            {{ form.email|addcss:"form-control" }}
            </div>

            <div class="col-sm-offset-2">
                <input type="submit"   class="btn btn-success" value="{% trans 'Reset My Password' %}" />
            </div>
        </form>
    </div>
    </div>
{% endblock %}
