<div class="panel panel-success section-detail">
    <div class="panel-heading header">
        <h4>
            Detail -
            <span class="object"> {{employeeClass}}</span>
        </h4>
    </div>
    <div class="panel-body table-container">
        <table class="table">
            <col class="label"></col>
            <col class="value"></col>
            <tbody>
                <tr>
                    <td class="label">Name:</td>
                    <td class="value"> {{ employeeClass.name }}</td>
                </tr>
                <tr>
                    <td class="label">description:</td>
                    <td class="value"> {{ employeeClass.description }}</td>
                </tr>
                <tr>
                    <td class="label">Created At:</td>
                    <td class="value"> {{ employeeClass.created_at }}</td>
                </tr>
                <tr>
                    <td class="label">Last Modified At:</td>
                    <td class="value"> {{ employeeClass.modified_at }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
