<div class="panel panel-success section-detail">
    <div class="panel-heading header">
        <h4>
            Detail -
            <span class="object"> {{designation}}</span>
        </h4>
    </div>
    <div class=" panel-body table-container">
        <table class="table">
            <col class="label">
            <col class="value">
            <tbody>
                <tr>
                    <td class="label">Name:</td>
                    <td class="value"> {{ designation.name }}</td>
                </tr>
                <tr>
                    <td class="label">Description:</td>
                    <td class="value"> {{ designation.description }}</td>
                </tr>
                <tr>
                    <td class="label">Created At:</td>
                    <td class="value"> {{ designation.created_at }}</td>
                </tr>
                <tr>
                    <td class="label">Last Modified At:</td>
                    <td class="value"> {{ designation.modified_at }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
